.site-header{
    background-color:rgba(144,221,240,0.9);
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.site-header h1{
    color: rgb(10,9,12);
    font-family: 'Bookman Old Style';
    padding-left: 15px;
}
.gnav__menu{
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    height: 50px;
    width: auto;
}
.gnav__menu__item{
    margin-bottom: 0;
    margin-right: 20px;
}
.gnav__menu__item a{
    color: rgb(10,9,12);
    font-style: italic;
    font-family: 'Bookman Old Style';
    text-decoration: none;
}

.gnav__menu__item a:hover{
    color:orangered;
}
