body{
    margin: 0;
}
.headback{
    max-height: 450px;
    overflow: hidden;
}
.headback img{
    margin-top: -230px;
    height: auto;
    width: 100%;
}

.textbox{
    height: auto;
    align-items: center;
    margin: 1% 15%;
    margin-bottom: 40px;
    padding-bottom: 2%;
    background: rgba(255, 255, 255, 0.966);
    border-top: solid 5px rgba(10,9,12,0.85);
    box-shadow: 0 3px 5px rgb(26, 26, 43);
}
.textbox p {
    margin: 0; 
    padding: 5%;
}
.intextbox{
    height: auto;
    align-items: center;
    margin: 1% 15%;
    margin-bottom: 2%;
    border-radius:6px;
    background: rgba(255, 255, 255, 0.966);
    border-top: solid 5px rgba(10,9,12,0.7);
    box-shadow: 0 3px 5px rgba(26, 26, 43,0.7);
    opacity:0.7;
}
.intextbox p {
    margin: 0; 
    padding: 3%;
    text-align: center;
}
.intextbox:hover{
    border-top: solid 5px rgba(10,9,12,1);
    box-shadow: 0 3px 5px rgba(26, 26, 43,1);
    opacity:1;
}
.about{
    background-color: rgba(7,57,60,0.85);
    padding-bottom: 1px;
}
.about h1{
    color: rgb(240,237,238);
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman';
    text-align: center;
    padding-top: 20px;
}

.prof{
    padding-left: 20%;
}
.prof div{
    display:inline-block;
    vertical-align:top;
}
.prof h2{
    padding-top: 10%;
    padding-left: 10%;
}
.prof h4{
    padding-left: 10%;
}
.prof a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.prof a:hover{
    color:orangered;
}
.name{
    width: 70%;
}
.achieves{
    background-color: rgba(62, 96, 100, 0.85);
    text-align: center;
    padding-bottom: 1px;
}
.achieves h1{
    color: rgb(240,237,238);
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman';
    text-align: center;
    padding-top: 20px;
}

.skills{
    background-color: rgba(44,102,110,0.85);
    text-align: center;
    padding-bottom: 1px;
}
.skills h1{
    color: rgb(240,237,238);
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman';
    text-align: center;
    padding-top: 20px;
}
.contact{
    background-color: rgba(10,9,12,0.85);
    text-align: center;
    padding-bottom: 1px;
}
.contact h1{
    color: rgb(240,237,238);
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman';
    text-align: center;
    padding-top: 20px;
}

.contact__menu{
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact__menu ul{
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    color: rgb(240,237,238);
}

.contact__menu i{
    padding-top: 10px;
    padding-bottom: 5px;
}

.contact__menu i:hover{
    padding-top: 5px;
    padding-bottom: 10px;
}

.intextbox img{
    width: 80%;
    padding-bottom: 3%;
    opacity: 1;
}

.intextbox video{
    width: 80%;
    padding-bottom: 3%;
    opacity: 1;
}